// IMPORT ==============================
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro&display=swap');


// IMPORT ==============================
$c-primary: #15432A;
$c-primary-shade: #2D7E51;
$c-text: #343A40;
$c-white: #FFFFFF;


// GERAL ==============================
html{
  scroll-behavior: smooth;
  color: $c-text;
}

a{ text-decoration: none; }


// PÁGINA:HOME ==============================
nav #navbar-header,
nav .navbar{
  background-color: $c-primary !important;
}

main{  
  h1{ color: $c-text; }
  
  a{ background-color: $c-primary-shade !important; }
  a:hover{ background-color: $c-primary; }
}

footer{
  a{ color: $c-text !important; }
}


// PÁGINA:CÓDIGO ==============================
#code{
  h1{
    text-transform: uppercase;
    font-weight: bold;
  }
  h2{
    font-weight: bold;
  }
  h3{
    font-weight: bold;
  }
  a{
    color: $c-text;
    
    &.disabled{
      background-color: $c-white !important;
    }
  }
}

#code-description{
  a{
    font-weight: bold;
    font-style: italic;
  }
}

#content.show{
  #sidebar{ margin-left: -15rem; }
 }

#sidebar{
  min-height: 100vh;
  margin-left: 0;
  background-color: $c-primary;

  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;

  .sidebar-footer{
    padding: 0.875rem 1.25rem;
    font-weight: bold;
    text-align: center;
  }
  
  .list-group {
    width: 15rem;
    
    a{
      color: $c-white;
      background-color: $c-primary;
    }
    a.disabled{ color: $c-text; }

    .list-group-item:hover{
      background-color: $c-primary-shade !important;
    }
  }
  a:hover,
  a:focus{
    background-color: inherit;
  }
}

@media screen and (max-width: 768px){
  #content.show{
    #sidebar{ margin-left: 0; }
  }

  #sidebar{ margin-left: -15rem; }
  #note-content{ overflow: hidden; }

  .show{
    .nav-top{
      display: none !important;
    }
  }
}

.nav-top{
  font-size: 0.8em;
  font-weight: 100;
}

.code{
  span{ font-weight: 100; }
  button{ font-size: .6em; }
}